<!-- Menu Área do Cliente -->
<ul class="flex space-x-8 bg-red-900 p-1 px-4 text-lg">
    <li><a href="#" class="text-white hover:text-gray-400"><span class="ml-6 mr-9">WhatsApp</span></a>
    </li>
    <li><a href="#" class="text-white hover:text-gray-400"><span class="mr-9">Contato</span></a></li>
    <li><a href="#" class="text-white hover:text-gray-400"><span class="mr-9">Proprietário</span></a>
    </li>
    <li><a href="#" class="text-white hover:text-gray-400"><span class="mr-9">Locatário</span></a></li>
    <li><a href="#" class="text-white hover:text-gray-400"><span class="mr-9">Indique</span></a></li>
</ul>