<!-- HEADER -->
<header class="bg-black bg-opacity-90">
    <div class="container mx-auto px-4 max-w-screen-xl">
        <div class="flex justify-end items-center space-x-6">
            <!-- Menu Ãrea do Cliente -->
            <%- include('area-do-cliente') %>

            <!-- Redes Sociais -->
            <%- include('social') %>
        </div>
        <!-- NAV -->
        <%- include('nav') %>
    </div>
</header>