
<!-- Redes Sociais -->
<ul class="flex space-x-2">
    <li><a href="#" class="hover:text-gray-400 inline-flex"><span
                class="bg-black px-4 py-1">Facebook</span></a>
    </li>
    <li><a href="#" class="hover:text-gray-400 inline-flex"><span
                class="bg-black px-4 py-1">Instagram</span></a>
    </li>
</ul>