<div x-data="{ activeTab: 0 }" class="w-full px-2 py-16 sm:px-0">
    <!-- Botões de Tab -->
    <div class="flex space-x-1 rounded-xl p-1 max-w-md " role="tablist">
        <button
        class="w-full py-2.5 text-sm leading-5 font-medium"
        :class="{
            'bg-red-500 text-white shadow': activeTab === 0,
            'bg-red-900 text-red-200 mt-2': activeTab !== 0
        }"
        @click="activeTab = 0"
        >
            Tab 1
        </button>

        <button
            class="w-full py-2.5 text-sm leading-5 font-medium"
            :class="{
                'bg-red-500 text-white shadow': activeTab === 1,
                'bg-red-900 text-red-200 mt-2': activeTab !== 1
            }"
            @click="activeTab = 1"
        >
            Tab 2
        </button>

        <button
            class="w-full py-2.5 text-sm leading-5 font-medium"
            :class="{
                'bg-red-500 text-white shadow': activeTab === 2,
                'bg-red-900 text-red-200 mt-2': activeTab !== 2
            }"
            @click="activeTab = 2"
        >
            Tab 3
        </button>
    </div>

    <!-- Painéis de Tab -->
    <div class="mt-2">
        <div x-show="activeTab === 0" class="bg-white rounded-xl p-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio veritatis ullam hic sed numquam laborum deserunt maiores, cupiditate quod nulla nostrum earum consequatur nihil qui. Quo distinctio impedit officia et.<120></120>
        </div>
        <div x-show="activeTab === 1" class="bg-white rounded-xl p-3">
            Conteúdo da Tab 2
        </div>
    </div>
</div>
