<div
  class="card bg-base-100 w-80 shadow-xl cursor-pointer hover:shadow-2xl transition-shadow duration-300"
>
  <figure>
    <img
      src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
      alt="Imagem do imóvel"
      class="h-48 w-full object-cover"
    />
  </figure>
  <div class="card-body">
    <h2 class="card-title">
      Apartamento em São Paulo
      <div class="badge badge-secondary">Novo</div>
    </h2>
    <p class="text-gray-600">
      Descrição: Apartamento espaçoso com excelente localização.
    </p>

    <div class="mt-4 flex items-center">
      <i class="fas fa-bed text-primary mr-2"></i>
      <span><strong>Quartos:</strong> 3</span>
    </div>
    <div class="mt-1 flex items-center">
      <i class="fas fa-map-marker-alt text-primary mr-2"></i>
      <span><strong>Endereço:</strong> Rua Exemplo, 123, São Paulo - SP</span>
    </div>
    <div class="mt-1 flex items-center">
      <i class="fas fa-expand-arrows-alt text-primary mr-2"></i>
      <span><strong>Área:</strong> 100 m²</span>
    </div>
    <div class="mt-1 flex items-center">
      <i class="fas fa-car text-primary mr-2"></i>
      <span><strong>Vagas de Estacionamento:</strong> 1</span>
    </div>
  </div>
</div>
