<header>
  <div class="navbar bg-base-100">
    <div class="navbar-start">
      <!-- Menu responsivo (Hambúrguer) -->
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16m-7 6h7"
            />
          </svg>
        </label>
        <ul
          tabindex="0"
          class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
        >
          <li><a href="#vendas">Vendas</a></li>
          <li><a href="#locacao">Locação</a></li>
          <li><a href="#nossa-empresa">Nossa Empresa</a></li>
          <li><a href="#contato">Contato</a></li>
        </ul>
      </div>
      <!-- Logo -->
      <a class="btn btn-ghost normal-case text-xl">Minha Empresa</a>
    </div>
    <!-- Links em telas maiores -->
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a href="#vendas">Vendas</a></li>
        <li><a href="#locacao">Locação</a></li>
        <li><a href="#nossa-empresa">Nossa Empresa</a></li>
        <li><a href="#contato">Contato</a></li>
      </ul>
    </div>
    <div class="navbar-end">
      <a class="btn btn-primary" href="#login">Login</a>
    </div>
  </div>
</header>
