 <!-- HEADER -->
 <header class="bg-black bg-opacity-90">
    <div class=" container mx-auto px-4 max-w-screen-xl">
        <div class="flex justify-end items-center space-x-6">
            <!-- Menu Área do Cliente -->
            <ul class="flex space-x-8 bg-red-700 p-1 px-4 text-lg">
                <li><a href="#" class="text-white hover:text-gray-400"><span class="ml-6 mr-9">WhatsApp</span></a>
                </li>
                <li><a href="#" class="text-white hover:text-gray-400"><span class="mr-9">Contato</span></a></li>
                <li><a href="#" class="text-white hover:text-gray-400"><span class="mr-9">Proprietário</span></a>
                </li>
                <li><a href="#" class="text-white hover:text-gray-400"><span class="mr-9">Locatário</span></a></li>
                <li><a href="#" class="text-white hover:text-gray-400"><span class="mr-9">Indique</span></a></li>
            </ul>
            <!-- Redes Sociais -->
            <ul class="flex space-x-2">
                <li><a href="#" class="hover:text-gray-400 inline-flex"><span
                            class="bg-black px-4 py-1">Facebook</span></a>
                </li>
                <li><a href="#" class="hover:text-gray-400 inline-flex"><span
                            class="bg-black px-4 py-1">Instagram</span></a>
                </li>
            </ul>
        </div>
        <!-- NAV -->
        <nav class="mt-10">
            <div class="flex items-center justify-between relative">
                <!-- Logo -->
                <a href="#" class="absolute bottom-0 left-50">
                    <img src="https://via.placeholder.com/140" alt="Logo" class="">
                </a>
                <!-- Nav Menu -->
                <ul class="flex space-x-6 ml-auto">
                    <li>
                        <a href="#" class="text-xl mr-7 inline-block pb-9 text-white hover:text-gray-400">Vendas</a>
                    </li>
                    <li>
                        <a href="#"
                            class="text-xl mr-7 inline-block pb-9 text-white hover:text-gray-400">Locações</a>
                    </li>
                    <li>
                        <a href="#" class="text-xl mr-7 inline-block pb-9 text-white hover:text-gray-400">Quem
                            Somos</a>
                    </li>
                    <li>
                        <a href="#"
                            class="text-xl mr-7 inline-block pb-9 text-white hover:text-gray-400">Serviços</a>
                    </li>
                    <li>
                        <a href="#" class="text-xl inline-block pb-9 text-white hover:text-gray-400">Anuncie
                            Seu Imóvel</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

</header>