<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <!-- tailwind -->
    <link href="/assets/css/tailwind.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <!-- Importando Alpine.js -->
    <script src="assets/plugins/alpinejs/dist/cdn.js" type="module" defer></script>
    <title>Meu titulo</title>
    </head>
  <body>
    <!-- HEADER -->
    <%- include('../partials/header') %>
    <!-- CONTENT -->
    <%- body %>
  </body>
</html>